/* colours for status */

.status-open {
    color: green;
}

.status-in-progress {
    color: orange;
}

.status-closed {
    color: red;
}

/* slider control icons */

.dark{
    filter: brightness(0);
}