/* colours for status */

.status-open {
    color: green;
}

.status-in-progress {
    color: orange;
}

.status-closed {
    color: red;
}

/* slider control icons */

.dark{
    filter: brightness(0);
}

/* remainder of page after navbar */

.fill{
    min-height: calc(100vh - 56px - 56px)
}

/* Tag for archived results */

.search-result{
    position: relative;
}

.archived-tag{
    position: absolute;
    top: -45px;
    left: 0px;
    height: fit-content;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

/* Link hover effect */

a{
    position: relative;
}

a::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #0d6efd;
    top: 100%;
    transition: .3s ease-in-out;
}

a:hover{
    text-decoration: none;
}

a:hover::before {
    width: 100%;
}

/* Specifically for nav  */

nav a::before{
    background-color: black;
}

/* Removing from carousel */

.carousel a:before{
    display: none;
}