{% extends "base.html" %}

{% block content %}
    <h1 class="text-center">{{ issue[1] }}</h1>
    <p class="text-center">ID : {{ issue[0] }}</p>
    <p class="text-center">{{ issue[2] }}</p>
    <p class="text-center
    {% if issue[3] == 'Open' %}
    status-open
    {% elif issue[3] == 'In-Progress' %}
        status-in-progress
    {% elif issue[3] == 'Closed' %}
        status-closed
    {% endif %}
    ">{{ issue[3] }}</p>
    <p class="text-center">Author - {{ issue[5] }}</p>
    <hr>

    <form action="/issue_{{ issue[0] }}" method="POST" class="container mt-4">
        <div class="form-group">
            <label for="status">State</label>
            <select class="form-control" name="status" id="status">
                <option value="" selected disabled hidden>Select State</option>
                <option>Open</option>
                <option>In-Progress</option>
                <option>Closed</option>
            </select>
        </div>
    
        <button type="submit" class="btn btn-primary">Update Status</button>
    </form>

    <form action="/issue_{{ issue[0] }}" method="POST" class="container mt-4">
        <div class="form-group">
            <input type="hidden" name="_method" value="DELETE">
            <label for="delete">Delete Issue</label>
            <button class="btn btn-danger">Delete</button>
        </div>
    </form>


    <form action="issue_{{ issue[0] }}" method="POST" class="container mt-4">
        <div class="form-group">
            <input type="hidden" name="_method" value="ARCHIVE">
            <label for="archive">
                {% if issue[4] == None %} 
                    Archive Issue
                {% else %} 
                    Un-Archive Issue 
                {% endif %}
            </label>
            <button name="archive" id="archive" class="btn btn-secondary">
                {% if issue[4] == None %} 
                    Archive
                {% else %} 
                    Un-Archive
                {% endif %}
            </button>
        </div>
    </form>

{% endblock %}