{% extends "base.html" %}

{% block content %}

<h1>Search For Issue</h1>

<form class="form-inline" action="/search" method="POST">
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label class="sr-only" for="search">Look for issue</label>
            <input type="text" class="form-control mb-2" id="search" name="search" placeholder="Issue Name">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </div>

        <div class="row justify-content-center ml-3">
            <input type="checkbox" name="include-archived" id="include-archived" class="form-check-input">
            <label for="include-archived">Include Archived Issues</label>

            <input type="checkbox" name="exclude-other" id="exclude-other" class="form-check-input ml-3">
            <label for="exclude-other">Exclude Issues Created By Others</label>
        </div>
    </div>
</form>

{% if issues %}
    <div class="row search-result">
        {% for issue in issues %}
            <div class="col-md-4 mb-4 mt-5">
                <div class="card h-100">
                    <div class="card-body search-result">
                        <h2 class="card-title">{{ issue[1] }}</h2>
                        <p class="card-text">ID: {{ issue[0] }}</p>
                        <p class="card-text">{{ issue[2] }}</p>
                        <a href="/issue_{{ issue[0] }}" class="link-primary">View</a>
                        
                        {% if issue[4] %}
                        <div class="archived-tag">Archived</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-warning" role="alert">
        No issues found.
    </div>
{% endif %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(() => {
        $(".card").css("display", "none");
        $(".card").each(function(index) {
            $(this).delay(150 * index).fadeIn(500);
        });
    })
</script>

{% endblock %}