{% extends "account_base.html" %}

{% block content %}

<h2 class="text-center">Sign Up</h2>
<form action="signup" method="POST">
    <div class="">

        <div class="form-group">
            <label for="username">Username</label>
            <input required class="form-control" name="username" id="username" type="text">  
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input required minlength="8" class="form-control" name="password" id="password" type="password">
        </div>

        <hr>

        <div class="form-group">
            <label for="password-confirm">Confirm Password</label>
            <input required minlength="8" class="form-control" name="password-confirm" id="password-confirm" type="password">
        </div>
        
        
        <button class="btn btn-primary">Submit</button>

        {% if error %}
            <p class="alert alert-warning mt-2" role="alert">{{ error }}</p>
        {% endif %}

    </div>
</form>

<hr>
<div class="row align-items-center justify-content-center">
    <p class="mb-0 mr-2">or</p> <a href="/login">Login</a>
</div>

{% endblock %}